/* Layout */

ul {
  list-style-type: none;
}

#header {
  background-color: #fff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
}

#content {
  min-height: 100vh;
  background-color: #f0f1f2;
}

.ant-input-group {
  border: 1px solid #199eb8;
  overflow: hidden;
}

.ant-input-group-addon .ant-input-search-button {
  right: -3px;
}

/* Footer */

.footer-contact {
  position: relative;
}
.footer-contact .logo .title {
  /* color: #ffffff; */
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-style: normal;
}
.footer-contact .contact ul li {
  /* color: #ffffff; */
  font-size: 18px;
  line-height: 36px;
  font-weight: normal;
  letter-spacing: 0.05em;
  opacity: 0.6;
  transition: all 0.3s;
  font-size: 16px;
}
.footer-contact .contact ul li:first-child {
  opacity: 1;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
}
.footer-contact .contact ul li:not(:first-child):hover {
  cursor: pointer;

  opacity: 1;
}
.footer-contact hr {
  width: 100%;
  border: 1px solid #ffffff;
}

.ant-menu-inline-collapsed > .ant-menu-item .imgicon + span {
  display: inline-block;
  max-width: 0;
  opacity: 0;
}

.dropdown-notify {
  margin: 0px 0px 19px 0px !important;
  line-height: 18px !important;
  height: auto !important;
  white-space: normal !important;
}
.table-row-request-canceled:not(button) {
  font-style: italic;
  cursor: not-allowed;
  color: #6262627a;
}
.item-notify {
  width: 284px;
  line-height: 20px !important;
  border-radius: 6px;
  min-height: 1rem;
  max-height: 5em;
  text-align: left;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1) !important;
}
.dot-notify {
  margin-right: 8px;
  content: '\A';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #21212142;
  display: inline-block;
  margin-top: 8px;
}

.card-container p {
  margin: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}
#components-tabs-demo-card-top .code-box-demo {
  background: #f5f5f5;
  overflow: hidden;
  padding: 24px;
}
[data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
[data-theme='dark'] #components-tabs-demo-card-top .code-box-demo {
  background: #000;
}
[data-theme='dark']
  .card-container
  > .ant-tabs-card
  .ant-tabs-content
  > .ant-tabs-tabpane {
  background: #141414;
}
[data-theme='dark'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #141414;
  background: #141414;
}

.offer-rankicon {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 12px;
  width: 25px;
  height: 26px;
}
.offer-rankicon .rank-icon {
  width: 25px;
  height: 26px;
}
.offer-rankicon .rank-txt {
  position: absolute;
  width: 25px;
  text-align: center;
  line-height: 26px;
  color: #fff;
  top: 0;
  left: 0;
}

.ant-upload-list-item-error,
.ant-upload-list-item-error .ant-upload-text-icon > .anticon,
.ant-upload-list-item-error .ant-upload-list-item-name {
  color: #1890ff !important;
}

.ant-upload-list-item-error .ant-upload-list-item-card-actions .anticon {
  color: #1890ff !important;
}
